<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jerry.module_outsale">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.mvp.mall.HomeMainActivity"></activity>
        <activity android:name=".activity.mvp.MainViewActivity"></activity>
    </application>

</manifest>